@font-face {
  font-family: "mm-text-regular";
  src: url("//imgdata.redblue.de/common/fonts/MMTextProWebTT-Regular.eot");
  src: url("//imgdata.redblue.de/common/fonts/MMTextProWebTT-Regular.eot?#iefix") format("embedded-opentype"), url("//imgdata.redblue.de/common/fonts/MMTextProWebTT-Regular.woff2") format("woff2"), url("//imgdata.redblue.de/common/fonts/MMTextProWebTT-Regular.woff") format("woff"), url("//imgdata.redblue.de/common/fonts/MMTextProWebTT-Regular.ttf") format("truetype"), url("//imgdata.redblue.de/common/fonts/MMTextProWebTT-Regular.svg#svg") format("svg"); }

@font-face {
  font-family: "mm-text-bold";
  src: url("//imgdata.redblue.de/common/fonts/MMTextProWebTT-Bold.eot");
  src: url("//imgdata.redblue.de/common/fonts/MMTextProWebTT-Bold.eot?#iefix") format("embedded-opentype"), url("//imgdata.redblue.de/common/fonts/MMTextProWebTT-Bold.woff2") format("woff2"), url("//imgdata.redblue.de/common/fonts/MMTextProWebTT-Bold.woff") format("woff"), url("//imgdata.redblue.de/common/fonts/MMTextProWebTT-Bold.ttf") format("truetype"), url("//imgdata.redblue.de/common/fonts/MMTextProWebTT-Bold.svg#svg") format("svg"); }

@font-face {
  font-family: "mm-headline";
  src: url("https://csscdn.redblue.de/msp/patternlibrary/deployable/static/resources/fonts/red/MMHeadlineProWebTT-Regular.eot");
  src: url("https://csscdn.redblue.de/msp/patternlibrary/deployable/static/resources/fonts/red/MMHeadlineProWebTT-Regular.eot?#iefix") format("embedded-opentype"), url("https://csscdn.redblue.de/msp/patternlibrary/deployable/static/resources/fonts/red/MMHeadlineProWebTT-Regular.woff") format("woff"), url("https://csscdn.redblue.de/msp/patternlibrary/deployable/static/resources/fonts/red/MMHeadlineProWebTT-Regular.ttf") format("truetype"); }

*, html {
  padding: 0;
  margin: 0; }

body {
  background: white;
  font-family: "mm-text-regular", sans-serif; }

header {
  background: #df0000;
  display: block;
  padding: 10px 10px 30px;
  position: relative;
  z-index: -2; }
  header::after {
    content: "";
    display: block;
    height: 40px;
    width: 100%;
    background: white;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    border-radius: 50% 50% 0 0; }

.logo {
  color: transparent;
  display: block;
  background: url("/img/logo.svg") no-repeat center;
  max-width: 370px;
  max-height: 50px; }
  .logo.var-center {
    margin: 5px auto 15px; }

.login-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  @media all and (min-width: 550px) {
    .login-box {
      position: absolute;
      top: 0;
      right: 0;
      margin: 20px 10px 5px; } }

.button {
  display: inline-block;
  margin: 5px;
  padding: 5px 10px;
  border: 1px solid #cccccc;
  background: white;
  color: black;
  border-radius: 3px;
  text-decoration: none;
  font-family: "mm-text-regular", sans-serif;
  font-size: 1em; }
  .button.var-header {
    margin: 0 10px 10px; }
  .button.var-center {
    text-align: center;
    margin: 0 auto; }
  .button.var-call-to-action {
    background: #df0000;
    color: white;
    border-color: white;
    font-size: 2em;
    padding: 7px 20px 10px;
    margin: 20px auto;
    -webkit-box-shadow: 0 0 5px #999999;
            box-shadow: 0 0 5px #999999; }
    .button.var-call-to-action.var-center {
      display: block;
      width: 145px; }

.heading-1 {
  font-family: "mm-text-bold", sans-serif;
  font-size: 3em; }
  .heading-1.var-center {
    text-align: center;
    padding: 10px; }

.body-text {
  display: block;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  color: #666666; }

footer {
  border-radius: 50% 50% 0 0;
  background: black;
  margin-top: 15px; }

.copyright {
  color: white;
  text-align: center;
  padding: 10px; }
