@font-face {
  font-family: "mm-text-regular";
  src: url("//imgdata.redblue.de/common/fonts/MMTextProWebTT-Regular.eot");
  src: url("//imgdata.redblue.de/common/fonts/MMTextProWebTT-Regular.eot?#iefix") format("embedded-opentype"), url("//imgdata.redblue.de/common/fonts/MMTextProWebTT-Regular.woff2") format("woff2"), url("//imgdata.redblue.de/common/fonts/MMTextProWebTT-Regular.woff") format("woff"), url("//imgdata.redblue.de/common/fonts/MMTextProWebTT-Regular.ttf") format("truetype"), url("//imgdata.redblue.de/common/fonts/MMTextProWebTT-Regular.svg#svg") format("svg"); }

@font-face {
  font-family: "mm-text-bold";
  src: url("//imgdata.redblue.de/common/fonts/MMTextProWebTT-Bold.eot");
  src: url("//imgdata.redblue.de/common/fonts/MMTextProWebTT-Bold.eot?#iefix") format("embedded-opentype"), url("//imgdata.redblue.de/common/fonts/MMTextProWebTT-Bold.woff2") format("woff2"), url("//imgdata.redblue.de/common/fonts/MMTextProWebTT-Bold.woff") format("woff"), url("//imgdata.redblue.de/common/fonts/MMTextProWebTT-Bold.ttf") format("truetype"), url("//imgdata.redblue.de/common/fonts/MMTextProWebTT-Bold.svg#svg") format("svg"); }

@font-face {
  font-family: "mm-headline";
  src: url("https://csscdn.redblue.de/msp/patternlibrary/deployable/static/resources/fonts/red/MMHeadlineProWebTT-Regular.eot");
  src: url("https://csscdn.redblue.de/msp/patternlibrary/deployable/static/resources/fonts/red/MMHeadlineProWebTT-Regular.eot?#iefix") format("embedded-opentype"), url("https://csscdn.redblue.de/msp/patternlibrary/deployable/static/resources/fonts/red/MMHeadlineProWebTT-Regular.woff") format("woff"), url("https://csscdn.redblue.de/msp/patternlibrary/deployable/static/resources/fonts/red/MMHeadlineProWebTT-Regular.ttf") format("truetype"); }

*, html {
  padding: 0;
  margin: 0; }

body {
  background: white;
  font-family: "mm-text-regular", sans-serif; }

header {
  background: #df0000;
  display: block;
  padding: 10px 10px 30px;
  position: relative; }
  header::after {
    content: "";
    display: block;
    height: 40px;
    width: 100%;
    background: white;
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 50% 50% 0 0; }

.logo {
  color: transparent;
  display: block;
  background: url("/img/logo.svg") no-repeat center;
  max-width: 370px;
  max-height: 50px; }
  .logo.var-center {
    margin: 5px auto 15px; }

.login-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  @media all and (min-width: 550px) {
    .login-box {
      position: absolute;
      top: 0;
      right: 0;
      margin: 15px 20px 5px; } }

.link {
  display: block;
  text-decoration: none; }

.button {
  display: inline-block;
  margin: 5px;
  padding: 5px 10px;
  border: 1px solid #cccccc;
  background: white;
  color: black;
  border-radius: 3px;
  text-decoration: none;
  font-family: "mm-text-regular", sans-serif;
  font-size: 1em; }
  .button.var-center {
    text-align: center;
    margin: 0 auto;
    display: block; }
  .button.var-call-to-action {
    background: #df0000;
    color: white;
    border: 3px solid white;
    border-radius: 10px;
    font-size: 2em;
    padding: 7px 20px 10px;
    margin: 20px auto;
    -webkit-box-shadow: 0 0 5px #999999;
            box-shadow: 0 0 5px #999999;
    width: 145px; }
    .button.var-call-to-action:hover {
      background: #df0000;
      -webkit-box-shadow: 0 0 2px #999999;
              box-shadow: 0 0 2px #999999; }
  .button.var-action-sub {
    width: 130px; }
  .button.var-footer {
    background: none;
    border: none;
    border-left: 1px solid white;
    color: white;
    border-radius: 0; }
    .button.var-footer:hover {
      text-decoration: underline; }
  .button:hover {
    background: black;
    color: white; }

.heading-1 {
  font-family: "mm-text-bold", sans-serif;
  font-size: 3em; }
  .heading-1.var-center {
    text-align: center;
    padding: 10px; }

.heading-2 {
  font-family: "mm-text-bold", sans-serif;
  padding: 5px; }

.heading-3 {
  font-family: "mm-text-bold", sans-serif;
  padding: 5px; }
  .heading-3.var-space-on-top {
    padding-top: 30px; }

.var-underline {
  text-decoration: underline; }

.info-block {
  display: block;
  padding: 15px;
  max-width: 800px;
  margin: 0 auto; }
  .info-block.var-medium {
    max-width: 620px; }
  .info-block.var-small {
    max-width: 400px; }
  .info-block.var-space {
    margin: 50px auto 60px; }
  .info-block.var-space-on-bottom {
    margin-bottom: 60px; }

.list {
  margin-left: 30px; }
  .list.var-dash {
    list-style: none; }
    .list.var-dash li {
      text-indent: -27px; }
      .list.var-dash li::before {
        content: "-";
        padding: 10px; }
  .list.var-none {
    list-style: none; }

.list-item {
  color: #666666; }

.body-text {
  color: #666666; }

time {
  display: block;
  text-align: center;
  font-size: 2em; }

#dots {
  width: 256px;
  height: 256px;
  position: relative;
  margin: 20px auto;
  padding: 0 20px;
  display: block; }
  #dots #msg {
    position: absolute;
    bottom: 75px;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    opacity: 0;
    text-align: center;
    color: white;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px); }
    #dots #msg.show {
      opacity: 1;
      color: black; }
  #dots noscript {
    display: block;
    color: white;
    text-align: center;
    font-size: 3em;
    padding: 30px 0; }
  #dots::after {
    content: "";
    display: block;
    background: black;
    width: 256px;
    height: 256px;
    position: absolute;
    left: 20px;
    right: 20px;
    top: 0;
    bottom: 0;
    z-index: -2; }
    @media all and (min-width: 512px) {
      #dots::after {
        width: 512px;
        height: 512px; } }
  @media all and (min-width: 512px) {
    #dots {
      width: 512px;
      height: 512px; } }

footer {
  background: black;
  margin: 30px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 206px;
  text-align: center; }

.copyright {
  color: white;
  text-align: center;
  padding: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }
