@font-face {
  font-family: "mm-text-regular";
  src: url("//imgdata.redblue.de/common/fonts/MMTextProWebTT-Regular.eot");
  src: url("//imgdata.redblue.de/common/fonts/MMTextProWebTT-Regular.eot?#iefix") format("embedded-opentype"), url("//imgdata.redblue.de/common/fonts/MMTextProWebTT-Regular.woff2") format("woff2"), url("//imgdata.redblue.de/common/fonts/MMTextProWebTT-Regular.woff") format("woff"), url("//imgdata.redblue.de/common/fonts/MMTextProWebTT-Regular.ttf") format("truetype"), url("//imgdata.redblue.de/common/fonts/MMTextProWebTT-Regular.svg#svg") format("svg"); }

@font-face {
  font-family: "mm-text-bold";
  src: url("//imgdata.redblue.de/common/fonts/MMTextProWebTT-Bold.eot");
  src: url("//imgdata.redblue.de/common/fonts/MMTextProWebTT-Bold.eot?#iefix") format("embedded-opentype"), url("//imgdata.redblue.de/common/fonts/MMTextProWebTT-Bold.woff2") format("woff2"), url("//imgdata.redblue.de/common/fonts/MMTextProWebTT-Bold.woff") format("woff"), url("//imgdata.redblue.de/common/fonts/MMTextProWebTT-Bold.ttf") format("truetype"), url("//imgdata.redblue.de/common/fonts/MMTextProWebTT-Bold.svg#svg") format("svg"); }

@font-face {
  font-family: "mm-headline";
  src: url("https://csscdn.redblue.de/msp/patternlibrary/deployable/static/resources/fonts/red/MMHeadlineProWebTT-Regular.eot");
  src: url("https://csscdn.redblue.de/msp/patternlibrary/deployable/static/resources/fonts/red/MMHeadlineProWebTT-Regular.eot?#iefix") format("embedded-opentype"), url("https://csscdn.redblue.de/msp/patternlibrary/deployable/static/resources/fonts/red/MMHeadlineProWebTT-Regular.woff") format("woff"), url("https://csscdn.redblue.de/msp/patternlibrary/deployable/static/resources/fonts/red/MMHeadlineProWebTT-Regular.ttf") format("truetype"); }

*, html {
  padding: 0;
  margin: 0; }

body {
  background: white;
  font-family: "mm-text-regular", sans-serif; }

header {
  background: #df0000;
  display: block;
  padding: 5px 5px 25px;
  position: relative;
  z-index: -2; }
  header::after {
    content: "";
    display: block;
    height: 40px;
    width: 100%;
    background: white;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    border-radius: 50% 50% 0 0; }

.logo {
  color: transparent;
  display: block;
  background: url("/img/logo.svg") no-repeat center;
  width: 370px;
  height: 50px; }
  .logo.var-center {
    margin: 5px auto; }

.login-box {
  position: absolute;
  top: 0;
  right: 0; }

.button {
  display: inline-block;
  margin: 5px;
  padding: 5px 10px;
  border: 1px solid #cccccc;
  background: white;
  color: black;
  border-radius: 3px;
  text-decoration: none;
  font-family: "mm-text-regular", sans-serif;
  font-size: 1em; }
  .button.var-header {
    margin-right: 20px;
    margin-top: 20px; }
  .button.var-center {
    margin: 0 auto;
    display: block;
    width: 200px;
    text-align: center; }

.box {
  display: block;
  width: 200px;
  height: 200px; }
