// colors - neutrals
$neutral-0: white;
$neutral-1: darken(white,10%);
$neutral-2: darken(white,20%);
$neutral-3: darken(white,30%);
$neutral-4: darken(white,40%);
$neutral-5: gray;
$neutral-6: lighten(black,40%);
$neutral-7: lighten(black,30%);
$neutral-8: lighten(black,20%);
$neutral-9: lighten(black,10%);
$neutral-10: black;