@import "variables";

*,html{
	padding: 0;
	margin: 0;
}

body{
	background: $brand-primary-contrast;
	font-family: $body-font;
}

header{
	$bending-height: 40px;

	background: $brand-primary;
	display: block;
	padding: 10px 10px ( $bending-height/2 + 10px);
	position: relative;
	z-index: -2;

	&::after{
		content: "";
		display: block;
		height: $bending-height;
		width: 100%;
		background: $brand-primary-contrast;
		position: absolute;
		left:0;
		right: 0;
		z-index: -1;
		border-radius: 50% 50% 0 0;
	}
}

.logo{
	color: transparent;
	display: block;
	background: url("/img/logo.svg") no-repeat center;
	max-width: 370px;
	max-height: 50px;

	&.var-center{
		margin: 5px auto 15px;
	}
}

.login-box{
	display: flex;
	justify-content: flex-end;

	// placing on top when there is space
	@media all and (min-width: 550px){
		position: absolute;
		top:0;
		right: 0;
		margin: 20px 10px 5px;
	}
}

.button{
	display: inline-block;
	margin: 5px;
	padding:5px 10px;
	border: 1px solid $neutral-2;
	background: $neutral-0;
	color: $neutral-10;
	border-radius: 3px;
	text-decoration: none;
	font-family: $body-font;
	font-size: 1em;

	&.var-header{
		margin:0 10px 10px;
	}
	&.var-center{
		text-align: center;
		margin: 0 auto;
	}
	&.var-call-to-action{
		background: $brand-primary;
		color: $brand-primary-contrast;
		border-color: $neutral-0;
		font-size: 2em;
		padding:7px 20px 10px;
		margin: 10px;
		box-shadow: 0 0 5px $neutral-4;

		&.var-center{
			display: block;
			width:145px;
		}
	}
}

.heading-1{
	font-family: $title-font;
	font-size: 3em;

	&.var-center{
		text-align: center;
		padding: 10px;
	}
}