@import "variables";

*,html{
	padding: 0;
	margin: 0;
}

body{
	background: $brand-primary-contrast;
	font-family: $body-font;
}

header{
	$bending-height: 40px;

	background: $brand-primary;
	display: block;
	padding: 10px 10px ( $bending-height/2 + 10px);
	position: relative;

	&::after{
		content: "";
		display: block;
		height: $bending-height;
		width: 100%;
		background: $brand-primary-contrast;
		position: absolute;
		left:0;
		right: 0;
		border-radius: 50% 50% 0 0;
	}
}

.logo{
	color: transparent;
	display: block;
	background: url("/img/logo.svg") no-repeat center;
	max-width: 370px;
	max-height: 50px;

	&.var-center{
		margin: 5px auto 15px;
	}
}

.login-box{
	display: flex;
	justify-content: flex-end;

	// placing on top when there is space
	@media all and (min-width: 550px){
		position: absolute;
		top:0;
		right: 0;
		margin: 20px 10px 5px;
	}
}

.link{
	display: block;
	text-decoration: none;
}

.button{
	display: inline-block;
	margin: 5px;
	padding:5px 10px;
	border: 1px solid $neutral-2;
	background: $neutral-0;
	color: $neutral-10;
	border-radius: 3px;
	text-decoration: none;
	font-family: $body-font;
	font-size: 1em;

	&.var-header{
		margin:0 10px 10px;
	}
	&.var-center{
		text-align: center;
		margin: 0 auto;
		display: block;
	}
	&.var-call-to-action{
		background: $brand-primary;
		color: $brand-primary-contrast;
		border: 3px solid $neutral-0;
		border-radius: 10px;
		font-size: 2em;
		padding:7px 20px 10px;
		margin: 20px auto;
		box-shadow: 0 0 5px $neutral-4;
		width:145px;

		&:hover{
			background: $brand-primary;
			box-shadow: 0 0 2px $neutral-4;
		}
	}
	&.var-action-sub{
		width: 130px;
	}

	&:hover{
		background: $neutral-10;
		color: $neutral-0;
	}
}

.heading-1{
	font-family: $title-font;
	font-size: 3em;

	&.var-center{
		text-align: center;
		padding: 10px;
	}
}

.heading-2{
	font-family: $title-font;
	padding: 5px;
}

.heading-3{
	font-family: $title-font;
	padding: 5px;

	&.var-space-on-top{
		padding-top: 30px;
	}
}

.var-underline{
	text-decoration: underline;
}

.info-block{
	display: block;
	padding: 15px;
	max-width: 800px;
	margin: 0 auto;

	&.var-medium{
		max-width: 620px;
	}
	&.var-small{
		max-width: 400px;
	}
	&.var-space{
		margin: 50px auto 60px;
	}
	&.var-space-on-bottom{
		margin-bottom: 60px;
	}
}

.list{
	margin-left: 30px;

	&.var-dash{
		list-style: none;

		li{
			text-indent: -27px;

			&::before{
				content: "-";
				padding: 10px;
			}
		}
	}
	&.var-none{
		list-style: none;
	}
}

.list-item{
	color: $neutral-6;
}

.body-text{
	color: $neutral-6;
}

footer{
	background: $neutral-10;
	margin: 30px auto 0;
	width: 140px;
}

.copyright{
	color: $neutral-0;
	text-align: center;
	padding: 10px;
}